# Python
dev/
venv/
.env
__pycache__/
*.pyc

# Database
backend/instance/
*.db

# Uploads
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/